<!DOCTYPE html>
<html lang="$!currentLocale.language" dir="$!langDirection">
	<head>
		<title>$!APPNAME | $!title</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta name="description" content="$!description">
		<meta name="keywords" content="$!KEYWORDS">
		<meta property="fb:app_id" content="$!FB_APP_ID">
		<meta property="og:title" content="$!APPNAME | $!title">
		<meta property="og:type" content="article">
		<meta property="og:url" content="$!request.getRequestURL()">
		<meta property="og:image" content="$!ogimage">
		<meta property="og:description" content="$!description">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@getscoold">
		<meta name="twitter:title" content="$!APPNAME | $!title">
		<meta name="twitter:description" content="$!description">
		<meta name="twitter:image" content="$!ogimage">
		<link href="$!request.contextPath/opensearch.xml" title="$!APPNAME" type="application/opensearchdescription+xml" rel="search">
		<link href="$!request.contextPath/feed.xml" rel="alternate" type="application/atom+xml" title="New questions feed">
		<link href="$!imageslink/logowhite.png" rel="image_src">
		<link href="$!imageslink/logowhite.png" rel="apple-touch-icon">
		<link href="$!imageslink/favicon.ico" rel="shortcut icon">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="$!stylesheetUrl" rel="stylesheet" media="screen">
		<link href="$!styleslink/simplemde.min.css" rel="stylesheet">
		#if ($includeHighlightJS)
			<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css" rel="stylesheet">
		#end
		#if($!langDirection == "RTL")
			<link href="$!styleslink/rtl.css" rel="stylesheet">
		#end
		<script src="$!scriptslink/globals.js"></script>
		#if ($includeGMapsScripts && $includeGMapsScripts == true)
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=$!GMAPS_API_KEY"></script>
		#end
	</head>
	<body>
		<div class="scoold-wrapper">
			<header>
				<div class="${navbarFixedClass}">
					<nav class="light-blue">
						<div class="nav-wrapper container">
							<a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>

							#macro(navbarlinks)
								<li><a href="$questionslink" title="Questions" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								<li><a href="$peoplelink" title="Users" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								<li><a href="$tagslink" title="Tags" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								<li><a href="$questionslink/ask" title="Ask Question" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								#if ($authenticated && $isMod)
									<li>
										<a href="$reportslink" title="Reports" class="$!{reportsSelected}">$!lang.get("reports.title")
											#if ($authUser.countNewReports() > 0)
												<span class="badge new">$authUser.countNewReports()</span>
											#end
										</a>
									</li>
								#end
							#end

							#macro(navbarspaces)
								<li>
										<a class="dropdown-button scoold-spaces-dropdown" title="Spaces" href="#!" data-constrainwidth="false"
											 data-alignment="$dropdownAlignment" data-beloworigin="true" data-activates="spaces-dropdown">
											<i class="fa fa-th-large"></i>
											<i class="fa fa-caret-down right"></i>
										</a>
								</li>
							#end

							#if($!langDirection == "LTR")
								#set($dropdownAlignment = "right")
							#else
								#set($dropdownAlignment = "left")
							#end

							#if($authenticated)
								#if(($authUser.hasSpaces() || $isMod))
									<ul id="spaces-dropdown" class="dropdown-content">
										#if($scooldUtils.canAccessSpace($authUser, ""))
											#if($!currentSpace.isEmpty())
													#set($spaceSelectedClass = "navbtn-hover white-text")
											#end

											<li><a href="$questionslink/space" title="Default Space"
														 class="post-refresh ${spaceSelectedClass}">Default space</a></li>
											<li class="divider"></li>
										#end
										#foreach($space in $authUser.spaces)
											#if($!currentSpace == $space)
												#set($spaceSelectedClass = "navbtn-hover white-text")
											#else
												#set($spaceSelectedClass = "")
											#end
											#set($spaceName = $scooldUtils.getSpaceName($space))
											<li><a href="$questionslink/space/$!space" title="$!{spaceName}"
														 class="post-refresh $!{spaceSelectedClass}">$!utils.abbreviate($!spaceName, 35)</a></li>
											<li class="divider"></li>
										#end
									</ul>
								#end
								<ul id="user-dropdown" class="dropdown-content">
									<li><a href="$profilelink" title="$!{authUser.name}">$!lang.get('profile.title')</a></li>
									#if($isAdmin)
										<li><a href="$adminlink" title="Admin">$!lang.get('administration.title')</a></li>
									#end
									<li><a href="$settingslink" title="Settings">$!{lang.get('settings.title')}</a></li>
									<li class="divider"></li>
									<li><a href="$signoutlink" title="Sign out" class="mtm signout">$!lang.get('signout')</a></li>
								</ul>
							#end

							<div class="brand-logo">
								<a href="$!request.contextPath/">
								    <i>Wonderor.com</i>

							        <!--
									<img src="$logoUrl" class="scoold-logo" width="$logoWidth" alt="scoold logo">
									-->
								</a>
							</div>

							<ul class="right hide-on-med-and-down">
								#if($!langDirection == "LTR")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}">
											<i class="fa fa-search fa"></i>
										</a>
									</li>
								#end

								#if($!langDirection == "LTR")
									#navbarlinks()
								#end

								#if ($authenticated)
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "LTR")
										#navbarspaces()
									#end
									<li>
										<a class="dropdown-button scoold-user-dropdown" href="#!" data-constrainwidth="false"
											 data-alignment="$dropdownAlignment" data-beloworigin="true" data-activates="user-dropdown">
											<img src="#profilepic($authUser)" width="50" class="responsive-img" alt="Avatar">
											<i class="fa fa-caret-down right"></i></a>
									</li>
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "RTL")
										#navbarspaces()
									#end
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="Sign in"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end

								#if($!langDirection == "RTL")
									#navbarlinks()
								#end

								#if($!langDirection == "RTL")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}">
											<i class="fa fa-search fa"></i>
										</a>
									</li>
								#end
							</ul>

							<ul class="side-nav" id="mobile-drawer">
								<li>
									<nav class="light-blue z-depth-0">
										<div class="nav-wrapper">
											<form action="$searchlink">
												<div class="input-field">
													<input type="search" name="q" placeholder="$!lang.get('search.search')" required>
													<label class="label-icon" for="search"><i class="fa fa-search fa-2x"></i></label>
													#if($!langDirection == "LTR")
														<i class="material-icons fa fa-close"></i>
													#end
												</div>
											</form>
										</div>
									</nav>
								</li>
								#if ($authenticated)
									<li>
										<img src="#profilepic($authUser)" width="50"  alt="Avatar" class="responsive-img left mll mrl">
										<a href="$profilelink" class="black-text mvl pll">$!authUser.name</a>
									</li>
									<li><a href="$settingslink" title="Settings">$!{lang.get('settings.title')}</a></li>
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="Sign in"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end
								<li><a href="$questionslink/ask" title="Ask Question" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								<li><a href="$questionslink" title="Questions" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								<li><a href="$peoplelink" title="Users" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								<li><a href="$tagslink" title="Tags" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								#if ($authenticated)
									#if ($isMod)
										<li>
											<a href="$reportslink" title="Reports" class="$!{reportsSelected}">$!lang.get("reports.title")
												#if ($authUser.countNewReports() > 0)
													<span class="badge new">$authUser.countNewReports()</span>
												#end
											</a>
										</li>
									#end

									#set($spaceSelectedClass = "")

									#if(($authUser.hasSpaces() || $isMod))
										#if($scooldUtils.canAccessSpace($authUser, ""))
											#if($!currentSpace.isEmpty())
													#set($spaceSelectedClass = "navbtn-hover white-text")
											#end

											<li class="divider"></li>
											<li><a href="$questionslink/space" title="Default Space"
														 class="post-refresh ${spaceSelectedClass}">Default space</a></li>
										#end
										#foreach($space in $authUser.spaces)
											<li class="divider"></li>
											#if($!currentSpace == $space)
												#set($spaceSelectedClass = "navbtn-hover white-text")
											#else
												#set($spaceSelectedClass = "")
											#end
											#set($spaceName = $scooldUtils.getSpaceName($space))
											<li><a href="$questionslink/space/$!space" title="$!{spaceName}"
														 class="post-refresh $!{spaceSelectedClass}">$!utils.abbreviate($!spaceName, 35)</a></li>
										#end
									#end

									<li class="divider"></li>
									<li>
										<li><a href="$signoutlink" title="Sign out" class="mts signout">$!lang.get('signout')</a></li>
									</li>
								#end
							</ul>
						</div>
					</nav>

					<nav id="search-drawer" class="white z-depth-1 hide">
						<div class="nav-wrapper container">
							<form id="search-drawer" class="hide-on-med-and-down" action="$searchlink">
								<div class="input-field">
									#if($!langDirection == "RTL")
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
									#end
									<input id="search-box" type="search" name="q" placeholder="$!lang.get('search.search')" required>
									<label class="label-icon" for="search-box"><i class="fa fa-search fa-2x grey-text"></i></label>
									#if($!langDirection == "LTR")
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
									#end
								</div>
							</form>
						</div>
					</nav>
				</div>
			</header>

			<main class="container">
				## DEBUG INFO ##
				##foreach($s in $request.session.getAttributeNames())$s = $request.session.getAttribute($s)<br>#end

				#infostrip()
				#parse($path)
			</main>

			<footer class="page-footer">
				<div class="container">
					<div class="row mbn">
						<div class="col l6 s12 sTextCenter">
							<h5 class="white-text">
								#if($showBranding)
									Powered by <a href="https://paraio.com">
										<img src="$imageslink/paradark.svg" width="100" alt="Para logo" class="para-logo-footer"></a>
								#end
							</h5>
							<div class="pvl">
								<a href="$aboutlink" title="About">$!{lang.get('about.title')}</a>&nbsp;&nbsp;
								<a href="$feedbacklink" title="Feedback">$!{lang.get('feedback.title')}</a>&nbsp;&nbsp;
								<a href="$privacylink" title="Privacy">$!{lang.get('privacy.title')}</a>&nbsp;&nbsp;
								<a href="$termslink" title="Terms">$!{lang.get('terms.title')}</a>
							</div>
						</div>
						<div class="col l6 s12 r sTextCenter">
							<div class="pvl white-text">
								#if($showBranding)
									Made with <i class="fa fa-coffee"></i> by
									<a href="https://erudika.com"><b>Erudika</b></a>
								#end
							</div>
							<a href="$!languageslink" title="Switch to a different language" class="btn-flat grey capitalize">
								$!currentLocale.getDisplayLanguage($currentLocale)
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<div id="main-modal" class="modal">
			<div class="modal-content">
				#ajaxloading(false)
			</div>
			<div class="modal-footer">
				<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">$!lang.get('close')</a>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize-autocomplete/1.0.7/jquery.materialize-autocomplete.min.js"></script>
		<script src="$!scriptslink/simplemde.min.js"></script>
		#if ($includeHighlightJS)
			<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		#end
		<script src="$!scriptslink/scoold.js"></script>
		#if ($request.getServletPath() == "/signin")
			<script src="$!scriptslink/signin.js"></script>
		#end
		#if ($includeGAjs)
			<script src="$!scriptslink/a7s.js"></script>
		#end
	</body>
</html>